<h3>Surveys to Take</h3>
      <table id="t01">
        <tr>
          <th>Survey</th>
          <th colspan="4"></th>
        </tr>
        <% @user_surveys.each do |s| %>
          <% if s.status == 1 %>
            <tr>
              <td><%= s.survey_name %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
