<!-- James Maher -->
<div class="row">
  <%= content_tag :table do %>
    <div class="small-12 medium-5 large-5 column">
      <%= content_tag :tbody, display_basic_search_results(@searches), nil, false %>
    </div>
  <% end %>
</div>