<!--James Maher & Lei Guo-->
<br/><br/>
<div class="row panel radius">
  <div class="small-12 medium-12 large-12 column">
    <h1>Search People</h1>
    <%= search_form_for @q, url: search_basic_searches_path, html: { method: :post } do |f| %>
      <div class="small-12 medium-9 large-9 column">
        <%= f.text_field :username_or_first_name_or_middle_initial_or_last_name_cont %>
      </div>
      <%= f.submit "Search", :class => "button" %>
    <% end %>
    <% if @display_results %>
      <%= render "results" %>
    <% end %>
  </div>
</div>
