<% if login_signed_in? %>
  
  <%if current_login.login_type == 1 || current_login.login_type == 2 %>
    <%= render "menu/admin" %>
<%else%>
    <%= render "menu/student" %>
<%end%>
<<<<<<< HEAD
<!--<p id="notice"><%= notice %></p>
<p class="getfit"><img src="https://farm8.staticflickr.com/7382/9548360790_818826c12b_h.jpg"></p>
-->

<%image_tag "ncc.jpg", alt: "NCC", width: '100%', :style => "background-size: cover"%>
<style>
  background-image: url(/assets/ncc.jpg);
  background-size: 100% auto;
</style>
=======
<%end%>
<!--<p id="notice"><%= notice %></p>

<%image_tag "ncc.jpg", alt: "NCC", width: '100%', :style => "background-size: cover"%>
-->
<!--image from url-->
<p class="getfit"><img src=https://farm8.staticflickr.com/7382/9548360790_818826c12b_h.jpg</p>
>>>>>>> 2da6bdc7f607dff59edbcc74c2e4ae3e866d06aa
