<a class="button radius" href="/user_informations/1"> Login as a student</a>
<a class="button radius" href="/users/"> Login as a admin</a>
<p class="getfit"><img src="http://www.trbimg.com/img-541ae341/turbine/chi-ugc-article-north-central-college-welcomes-nine-tenure-tr-2014-09-18"></p>
