<% if login_signed_in? %>
    <%= render "menu/admin" %>
<%else%>
    <%= render "menu/student" %>
<%end%>
<!--<p id="notice"><%= notice %></p>-->
<p class="getfit"><img src="https://farm8.staticflickr.com/7382/9548360790_818826c12b_h.jpg"></p>
