<% if login_signed_in? %>
  <!--<%if @user=User.find(current_login.login_type) == 2%>
    <%end%>-->
    <%= render "menu/admin" %>
    
<%else%>
    <%= render "menu/student" %>
<%end%>
<!--<p id="notice"><%= notice %></p>-->

<%image_tag "ncc.jpg", alt: "NCC", width: '100%', :style => "background-size: cover"%>
<style>
  background-image: url(/assets/ncc.jpg);
  background-size: 100% auto;
</style>