<br /><br />
<div class="row panel radius">
<h2>
  Questions
</h2>
<hr/>

<table>
  <%= link_to "New Question", new_survey_question_path(@survey), class: "button radius success" %>
  <colgroup>
    <col>
    <col width="250">
  </colgroup>
  <thead>
    <tr>
      <th>Question</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "question", collection: @questions %>
  </tbody>
</table>
</div>
