<!--Ryan/Andrew
added blank top bar for login page
-->

<nav class="top-bar" data-topbar>
  <nav class="test">
      <ul class="title-area">
          <li class="name">
              <h1><a href="/">North Central College</a></h1>
          </li>
          <li class="toggle-topbar menu-icon">
              <a href="#">Menu</a>
          </li>
      </ul>
      <section class="top-bar-section">
          <ul class="right">
              <!-- Andrew Bockus -->
              <li class="has-dropdown">
                <a href="#">About</a>
                <ul class="dropdown">
                <li><%= link_to "Privacy Policy", main_app.privacy_policy_disclaimers_path %></li>
                <li><%= link_to "Contact Us", main_app.contact_us_disclaimers_path %></li>
                </ul>
              </li>
          </ul>
      </section>
    </nav>
</nav>
