<head>
<nav class="top-bar" data-topbar>
       <ul class="title-area">
           <li class="name">
               <h1><a href="/">North Central College</a></h1>
           </li>
           <li class="toggle-topbar menu-icon">
               <a href="#">Menu</a>
           </li>
       </ul>
       <section class="top-bar-section">
           <ul class="right">
               <li class="inactive">
                   <a href="#">Surveys</a>
               </li>
               <li class="has-dropdown">
                   <a href="#">Giving Back</a>
                   <ul class="dropdown">
                       <li>
                           <a href="#">Internships</a>
                       </li>
                       <li>
                           <a href="#">Mentoring</a>
                       </li>
                       <li>
                           <a href="#">Speaking</a>
                       </li>
                       <li>
                           <a href="#">Other</a>
                       </li>
                   </ul>
               </li>
               <li class="has-dropdown">
                   <a href="#">My Profile</a>
                   <ul class="dropdown">
                       <li>
                           <%= link_to 'View', {:action => 'show', :controller => 'user_informations', :id => 1} %>
                       </li>
                       <li>
                           <%= link_to 'Edit', {:action => 'edit', :controller => 'user_informations', :id => 1} %>
                       </li>
                       <li>
                              <!--sign out added by Ryan and Andrew-->
				  <li>
				<%= link_to('Sign Out', destroy_login_session_path, :method => :delete) %>  
                                  </li>
                             </li>
                   </ul>
               </li>
               <li class="inactive">
                 <%= link_to 'Search People', basic_searches_path %>
               </li>
           </ul>
           <!-- Right Nav Section -->
           <!-- Left Nav Section -->
           <ul class="left">
               <li>
              </li>
           </ul>
       </section>
   </nav>
</head>
