<br /><br />
<div class="row panel radius">
  <div class="row" align="center">
    <h2>Create a User</h2>
  </div>
  <div class="row">
    <div class="large-12 medium-12 small-12 large-centered medium-centered small-centered columns">
      <%= render 'newform' %>
    </div>
  </div>
</div>
