<!-- Created by Rapidfire Edited by Drew Olehy -->

<br /><br />
<div class="row panel radius">
<h2>
  Surveys
</h2>
<hr/>

<table>
  <% if can_administer? %> <!-- Check to make sure it is an admin -->
    <%= link_to "New Survey", new_survey_path, class: "button radius success" %>
  <% end %>
  <colgroup>
    <col>
    <col width="250">
  </colgroup>
  <thead>
    <tr>
      <th>Survey</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "survey", collection: @surveys %>
  </tbody>
</table>
</div>
