<!-- James Maher -->
<div class="row">
  <%= content_tag :table do %>
    <div class="medium-5-columns">
      <%= content_tag :thead, display_sort_column_headers(@q), nil, false %>
      <%= content_tag :tbody, display_search_results(@searches), nil, false %>
    </div>
  <% end %>
</div>