<%= render "menu/admin" %>



<div class="row">
    <div class="large-4 columns large-centered columns">
        <h4>Title:</h4>
        <input type="text" />
    </div>
</div>



<div class="row">
    <div class="large-6 large-centered columns">
        <h4>Description:</h4>
        <textarea></textarea>
    </div>
</div>
<br>
<div class="row">
    <div class="large-4 columns large-centered columns">
      <h4>Author:</h4>
        <input type="text"  />
    </div>
</div>
<br>
<div class="row">
  <div class= "large-centered columns">
      <a class="button radius" <%= link_to "Submit", "survey_type"%></a>
      <a class="button radius" <%= link_to "Delete", admin_surveys_path(@admin_surveys) %></a>
  </div>
</div>
