<h1>Question Type</h1>
<br>
<div class="row">
    <div class="large-12 columns">
      <label>Select Box
        <select>
          <option value="#">Multiple Choice</option>
          <option value="#">Scale Question</option>
          <option value="#">Text Response</option>
          <option value="#">Other</option>
        </select>
      </label>
    </div>
  </div>
  <a href="/admin_surveys/index" class="button radius">Submit</a>
