<%= form_for(@report_option) do |f| %>
  <% if @report_option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report_option.errors.count, "error") %> prohibited this report_option from being saved:</h2>

      <ul>
      <% @report_option.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
