<div class="row">
  <h1>Saved Lists</h1>
</div>

<div class="row">
  <% @saved_lists.each do |saved_list| %>
    <h4><%= saved_list.list_name %></h4>
    <tr>
      <td><%= link_to 'Show', saved_list_path(saved_list) %></td>
      <td><%= link_to 'Delete', saved_list_path(saved_list), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</div>