<!-- James Maher and Andrew Bockus -->
<div class="panel radius">
  <div class="row">
    <div class="large-12 medium-12 small-12 large-centered medium-centered small-centered columns">
      <h1>Manage Saved List</h1>
    </div>
  </div>
  <div class="row">
    <div class="large-8 medium-8 small-12 large-centered columns">
      <% form_tag 'saved_list#create', method: "post" do %>
        <h4>New list name: </h4><% input_tag :new_saved_list %>
        <% select_tag :add_saved_list, options_from_collection_for_select(@saved_list_array, 'id', 'list_name'), {:include_blank => '-- Add to Saved List --'} %>
        <% submit_tag "Save List" %>
      <% end %>
    </div>
  </div>
</div>