<br/>
<div class="row">
  <div class="large-6 small-12 column">
    <p>Month Entered:</p>
    <%= text_field :date, :month %>
  </div>
  <div class="large-6 small-12 columns">
    <p>Year Entered:</p>
    <%= text_field :date, :year %>
  </div>
</div>
