<!-- Created by Andrew Bockus -->
<div class="row">
  <div class="small-12 small-centered columns">
    <h2 align="center">User Employer Report Options</h2>
  </div>
</div><hr /><br />
<div class="row">
  <div class="large-6 large-centered columns">
    <div class="row">
      <div class="large-6 columns">
        <h4>Employer Name:</h4>
      </div>
      <div class="large-6 columns">
        <%= select_tag "selected_employer", options_for_select(@employer_array), {:include_blank => 'None'} %>
      </div>
    </div>
  </div>
</div>
