<!-- Created by Andrew Bockus -->
<div class="row">
  <div class="small-12 small-centered columns">
    <h2 align="center">User Employer Report Options</h2>
  </div>
</div><br />
<div class="row">
  <div class="large-2 columns">
    <%= label_tag(:employer, "Employer Name:") %>
  </div>
  <div class="large-10 columns">
    <%= text_field :employer, :name %>
  </div>
</div>
