<!-- Created by Andrew Bockus -->
<div class="row">
  <div class="small-12 small-centered columns">
    <h2 align="center">Given Back Report Options</h2>
  </div>
</div><hr /><br />
<div class="row">
  <div class="large-6 large-centered columns">
    <div class="row">
      <div class="large-6 small-12 column">
        <h4>User:</h4>
      </div>
      <div class="large-6 small-12 column">
        <%= text_field_tag 'selected_user', nil, maxlength: 7, onkeypress: 'return isNumber(event)' %>
      </div>
    </div>
    <div class="row">
      <div class="large-6 small-12 column">
        <h4>Survey:</h4>
      </div>
      <div class="large-6 small-12 column">
        <%= select_tag "selected_survey", options_from_collection_for_select(@survey_array, "id", "survey_name"), {:include_blank => 'None'} %>
      </div>
    </div>
  </div>
</div>
