<!-- Created by Andrew Bockus -->
<div class="row">
  <div class="small-12 small-centered columns">
    <h2 align="center">Given Back Report Option</h2>
  </div>
</div><hr /><br />
<div class="row">
  <div class="large-6 large-centered medium-6 columns">
    <div class="row">
      <div class="large-6 medium-6 small-12 column">
        <h4>Opportunity:</h4>
      </div>
      <div class="large-6 medium-6 small-12 column">
        <%= select_tag "selected_giving_back", options_for_select([["All", -1], ["Internships", 0], ["Mentoring", 1], ["Guest Speaking", 2], ["Other", 3]]) %>
      </div>
    </div>
  </div>
</div>
