<!-- Created by Andrew Bockus -->

<div class="row">
  <div class="large-12 large-centered medium-12 small-12 columns">
    <div id="displayResults" style="overflow: auto; height: 100%; width: 100%;">
      <table>
          <tr>
            <!-- Print out Survey name and information -->

            @

          </tr>
      </table>
    </div>
  </div>
</div>
<hr class="noprint" /><br />
<div class="row noprint">
  <div class="large-12 large-centered medium-12 columns">
    <div align="center">
      <a onclick="printPage()" class="button radius">Print</a>
      <a href="<%= reports_path %>" class="button radius">Back</a>
      <%= link_to "Export to Excel", params.merge(:format => 'xls'), :class => "button radius noprint", method: :post %>
    </div>
  </div>
</div>
