<div class="row" align="center">
<h2>Editing <%= params[:report_type].capitalize %> Report Options</h2>

<%= render 'form' %>

<br/><br/>
<%= link_to 'Back', reports_path, class: "button radius" %>
</div>
